*{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e6ebed;
}

.nav{
    display: flex;
    justify-content: center;
    
}

.nav div{
    display: flex;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
}

.nav div section{
    display: flex;
    align-items: center;
}

.nav div section a{
    text-decoration: none;
    color: #000;
}

.nav div section p{
    font-weight: bolder;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
}

.nav div section p:hover{
    color: rgb(244, 134, 38);
}

.nav div section:nth-child(1) img{
    width: 60px;
    margin-right: 10px;
}

.products{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.products div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 4%;
}

.products div section{
    background-color: #fff;
    padding: 20px;
    box-shadow: 4px 8px 8px rgb(0, 0, 0, 0.5);
    margin: 10px;
}

.products div section img{
    width: 300px;
}

.products div a{
    text-decoration: none;
}

.products div section h2{
    color: #000;
}

.products div section span{
    display: flex;
}

.products div section p{
    font-weight: bold;
    margin-right: 15px;
    margin-left: 5px;
}

.products div section span p:nth-child(2){
    text-decoration: line-through;
    opacity: 0.9;
}

.content{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.content div{
    width: 95%;
    max-width: 700px;
}

.content div span{
    display: flex;
    justify-content: center;
}

.content div span img{
    width: 90%;
    max-width: 500px;
    box-shadow: 3px 6px 6px rgb(0, 0, 0, 0.5);
}

.content div h1,h4{
    text-align: center;
    margin-top: 20px;
}

.content div h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.content div p{
    margin-bottom: 100px;
}

.content div button{
    position: fixed;
    bottom: 0;
    width: 95%;
    max-width: 700px;
    background-color: rgb(235, 118, 15);
    border: none;
    padding: 10px;
    color: #fff;
    transition: 0.3s;
    font-weight: bold;
}

.content div button:hover{
    background-color: #e6ebed;
    color: rgb(235, 118, 15);
    border: 1px solid rgb(235, 118, 15);
}

.my{
    margin-top: 100px;
    text-align: center;
}